<div class="modal-content">
    <div class="header">
    </div>
    <div class="text overflow-x">
        <p>You have not attempted all the questions. Are you sure you want to submit this activity?</p>
    </div>
    <div class="footer">
        <a class="pure-button model-pure-button pull-left" onclick="$app.incompleteOK();"
           style="min-width:120px;">Yes</a>
        <a class="pure-button model-pure-button pull-right" onclick="$app.incompleteNOK();"
           style="min-width:120px;">No</a>
    </div>
</div>
<div class="overlay"></div>