<div class="modal-content">
    <div class="header">
    </div>
        <div class="text overflow-x" id="popup_score">{{{scoreHtml}}}
    </div>
    <div class="footer">
        <a class="pure-button model-pure-button pull-left" onclick="$app.review();" style="min-width:120px;">{{{labels.review_interactive}}}</a>
        <a class="pure-button model-pure-button pull-right" onclick="$app.retry();" style="min-width:120px;">{{{labels.reattempt_interactive}}}</a>
    </div>
</div>
<div class="overlay"></div>